{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-12">
      <button type="button" class="btn bg-gradient-primary"><a class="text-white" href="{% url 'psicologa' %}">
          Voltar
      </a></button>
  </div>
</div>

    <div class="container-fluid py-4">
      <div class="col-6">
        <div>
          <h2>
            Unidades da {{psicologo.nome}}
          </h2>
        </div>
      </div>
    </div>
    <div class="card m-4">
      <div class="card-body p-4">
        <form method="POST" action="{% url 'psicoUnidades' psicologo_id=psicologo.id %}">  {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="unidade_id">Unidades</label>
                <select class="form-control" id="unidade_id" name="unidade_id" required /> 
                  {% for unidade in unidadesGerais %}
                 <option value="{{unidade.id_unidade}}">{{unidade.nome_unidade}}</option>
                  {% endfor %}
                </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Adicionar Unidade</button>
                </div>
              </div>
            </div>
          </form>
         </div> 
        </div> 
          
      </div>
    </div> 
    <div class="card">
      <div class="table-responsive">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th class="text-secondary text-xxs font-weight-bolder opacity-7">Unidade</th>
              <th class="text-secondary text-xxs opacity-7">Desvincular</th>
              
            </tr>
          </thead>
          <tbody>{% for unidade in unidadesPsico %}
            <tr>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-xs">{{unidade.nome_unidade}}</h6>
                    </div>
                  </div>
                </td>
          <td>
            <span>
              <a href="{% url 'disPsicoUnidade' psicologo_id=psicologo.id unidade_id=unidade.id_unidade %}" class="btn btn-danger">
                <i class="bi bi-trash-fill"></i>
              </a>
        </span>
      </td>

            </tr>{%endfor%}           
          </tbody>
        </table>
      </div>
    </div>

{% endblock content %}
