{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-12">
      <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Cadastrar Sala</h6>
          </div>
          <div class="card-body p-4">
            <form method="POST" action="{% url 'cadastrar_salas' %}">
              {% csrf_token %}
                  <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                              <label for="numero_sala">Número da sala</label>
                              <input type="text"class="form-control" id="numero_sala" name="numero_sala" required>
                      </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-4">
                                <span class="input-group-text"><i class="ni ni-palette"></i></span>
                                <input type="color" class="form-control" name="cor_sala" required>
                                <small class="form-text text-muted">Escolha uma cor de identificação</small>
                            </div>
                        </div>
                    </div> 
                    </div>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="id_unidade">Unidade</label>
                              <select class="form-control" id="id_unidade" name="id_unidade" required>
                                {% for unidade in unidades %}
                                <option value="{{unidade.id_unidade}}">{{ unidade.nome_unidade }}</option>
                                {% endfor %}
                              </select>
                          </div>
                      </div>
                        <div class="col-md-6">
                          <div class="d-flex justify-content-center gap-4 align-middle">
                            <button type="submit" class="btn bg-gradient-primary">Registrar</button>
                            <button type="reset" class="btn bg-gradient-secondary">Resetar</button>
                          </div>
                        </div>
                  </div>
              </div>
            </form>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-12">

        <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Salas cadastradas</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Número da sala</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cor da sala</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Unidade</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Horários</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Editar</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Excluir</th>
                    </tr>
                  </thead>
                  <tbody>
                   {% for sala in salas %}
                    <tr>
                      <td class="align-middle">
                        <div class="d-flex px-2 py-1 border-primary justify-content-center">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm text-center">{{sala.numero_sala}}</h6>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center">
                        <span style="display: inline-block; width: 12px; height: 12px; background-color: {{sala.cor_sala}}; border-radius: 50%;"></span>
                    </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0 ">{{sala.id_unidade.nome_unidade}}</p>
                      </td>
                      <td class="align-middle text-center">
                        <a href="{% url 'horario_sala' id_sala=sala.id_sala %}" class="btn btn-warning" data-toggle="tooltip" data-original-title="Edit user">
                          <i class="bi bi-pencil-fill"></i>
                        </a> </td>
                      <td class="align-middle text-center">
                        <a href="{% url 'update_sala' id_sala=sala.id_sala %}" class="btn btn-warning" data-toggle="tooltip" data-original-title="Edit user">
                          <i class="bi bi-pencil-fill"></i>
                        </a> </td>
                        <td class="align-middle text-center">
                        <a href="{% url 'delete_sala' id_sala=sala.id_sala %}" class="btn btn-danger" data-toggle="tooltip" data-original-title="Edit user">
                          <i class="bi bi-trash-fill"></i>
                        </a>
                      </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>
                            <p class="text-secondary text-center font-weight-bold text-xs">
                                Nenhuma sala encontrada.
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

    </div>

</div>
{% endblock content %}