{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<h1>Deletar Consulta</h1>

<p>Tem certeza de que deseja deletar a consulta <strong>{{ consulta.numero_consulta }}</strong>?</p>

<form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn bg-gradient-primary">Deletar</button>
    <button type="button" class="btn bg-gradient-secondary"><a href="{% url 'agenda_unificada' psicologo_id=psicologo.id %}" style="color: white; text-decoration: none;">Cancelar</a></button>
</form>

{% endblock content %}
