{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <h1>Deletar Disponibilidade</h1>
    
    <p>Tem certeza de que deseja deletar o horário {{ disponibilidade.hora }} na {{ disponibilidade.dia_semana }}?</p>
    
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn bg-gradient-primary">Deletar</button>
        <button type="button" class="btn bg-gradient-secondary"><a href="{% url 'psico_disponibilidade' psicologo_id=psicologa.id %}">Cancelar</a></button>
    </form>


{% endblock content %}