{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Editar Consulta</h6>
            </div>
            <div class="card-body p-4">
                <form method="POST" action="{% url 'editar_confirma_consulta' id_consulta=consulta.id_consulta %}">
                    {% csrf_token %}

                    <div class="row">
                        <!-- <div class="col-md-6">
                            <div class="form-group">
                                <label for="numero_consulta">Número da Consulta</label>
                                <input type="text" class="form-control" id="numero_consulta" name="numero_consulta" value="{{ consulta.numero_consulta }}" required>
                            </div>
                        </div> -->
                              <!-- <label for="username">Nome</label> -->
                              <!-- <input type="text" class="form-control" id="username" name="username" required value="{{user.username}}"> -->

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dia_semana">Dia da Semana</label>
                                    <select class="form-control" id="dia_semana" name="dia_semana" required>
                                      <option value="Segunda-Feira">Segunda-Feira</option>
                                      <option value="Terça-Feira">Terça-Feira</option>
                                      <option value="Quarta-Feira">Quarta-Feira</option>
                                      <option value="Quinta-Feira">Quinta-Feira</option>
                                      <option value="Sexta-Feira">Sexta-Feira</option>
                                    </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="periodo_atendimento">Período de Atendimento</label>
                                    <select class="form-control" id="periodo_atendimento" name="periodo_atendimento" required>
                                      <option value="Semanal">Semanal</option>
                                      <option value="Quinzenal">Quinzenal</option>
                                    </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="forma_pagamento">Forma de Pagamento</label>
                                    <select class="form-control" id="forma_pagamento" name="forma_pagamento" required>
                                      <option value="Pix">Pix</option>
                                      <option value="Dinheiro">Dinheiro</option>
                                      <option value="Cartão">Cartão</option>
                                    </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="valor">Valor</label>
                                <input type="number" class="form-control" id="valor" name="valor" value="{{consulta.valor}}" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="observacoes">Observação</label>
                                <input type="text" class="form-control" id="observacoes" name="observacoes" value="{{ consulta.observacoes }}" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="confirmacao">Confirmação</label>
                                <select class="form-control" id="confirmacao" name="confirmacao" required>
                                    <option value="Sim">Sim</option>
                                    <option value="Não">Não</option>
                                    <option value="Faltou">Faltou</option>
                                  </select>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="d-flex justify-content-center gap-4 align-middle">
                                <button type="submit" class="btn btn-primary">Atualizar</button>
                                <button type="reset" class="btn btn-secondary">Resetar</button>
                            </div>
                        </div>
                        <!-- <div class="col-md-6"> -->
                            <!-- <div class="form-group">
                                <label for="unidade_atendimento">Unidade de Atendimento</label>
                                <select class="form-control" id="unidade_atendimento" name="unidade_atendimento" required>
                                    <option value="">Selecione...</option>
                                    {% for uni in unis %}
                                        <option value="{{ uni.id_unidade }}" {% if uni.id_unidade == consulta.unidade_atendimento.id_unidade %}selected{% endif %}>{{ uni.nome_unidade }}</option>
                                    {% endfor %}
                                </select>
                            </div> -->
                        <!-- </div> -->
                       
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
