{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Editar Sala</h6>
            </div>
            <div class="card-body p-4">
                <form method="POST" action="{% url 'update_sala' id_sala=sala.id_sala %}">
                    {% csrf_token %}
                        <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label for="numero_sala">Número da sala</label>
                                    <input type="text"class="form-control" id="numero_sala" name="numero_sala" value="{{sala.numero_sala}}" required>
                            </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cor_sala">Cor da sala</label>
                                    <select name="cor_sala" id="cor_sala">
                                      <option value="red">Vermelho</option>
                                      <option value="green">Verde</option>
                                      <option value="blue">Azul</option>
                                      <option value="black">Preto</option>
                                      <option value="white">Branco</option>
                                      <option value="gray">Cinza</option>
                                      <option value="yellow">Amarelo</option>
                                      <option value="cyan">Ciano</option>
                                      <option value="magenta">Magenta</option>
                                  </select>
                                </div>
                            </div>
                          </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_unidade">Unidade</label>
                                    <select class="form-control" id="id_unidade" name="id_unidade" required>
                                      {% for unidade in unidades %}
                                      <option value="{{unidade.id_unidade}}">{{ unidade.nome_unidade }}</option>
                                      {% endfor %}
                                    </select>
                                </div>
                            </div>
                              <div class="col-md-6">
                                <div class="d-flex justify-content-center gap-4 align-middle">
                                  <button type="submit" class="btn bg-gradient-primary">Atualizar</button>
                                  <button type="reset" class="btn bg-gradient-secondary">Resetar</button>
                                </div>
                              </div>
                        </div>
                    </div>
                  </form>
            </div>
          </div>

    </div>

</div>

{% endblock content %}