{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Edição de Pacientes</h6>
            </div>
            <div class="card-body p-4">
                <form method="POST" action="{% url 'update_paciente' id_paciente=paciente.id %}">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nome_paciente">Nome</label>
                                <input type="text" class="form-control" id="nome_paciente" name="nome_paciente" value="{{paciente.nome}}" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="idade_paciente">Idade</label>
                                <select class="form-control" id="idade_paciente" name="idade_paciente" required>
                                    <option value="Adulto">Adulto</option>
                                    <option value="Criança">Criança</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="valor">Valor ( R$ )</label>
                                <input type="number" class="form-control" id="valor" name="valor" value="{{paciente.valor}}" required>      
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tipo_atendimento">Tipo atendimento</label>
                                <select class="form-control" id="tipo_atendimento" name="tipo_atendimento" required>
                                    <option value="Tipo1">Tipo1</option>
                                    <option value="Tipo2">Tipo2</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="telefone_paciente">Telefone</label>
                                <input type="number" class="form-control" id="telefone_paciente" name="telefone_paciente" value="{{paciente.telefone}}" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="periodo_paciente">Período de atendimento</label>
                                <select class="form-control" id="periodo_paciente" name="periodo_paciente">
                                  <option value="Semanal">Semanal</option>
                                  <option value="Quinzenal">Quinzenal</option>
                                  <!-- <option value="nao_fixo">Sem horário fixo</option> -->
                                </select>
                              </div>
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-center gap-4 align-middle">
                                <button type="submit" class="btn btn-primary">Registrar</button>
                                <button type="reset" class="btn btn-secondary">Resetar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
