{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="row">
  <div class="col-12">
      {% if user.is_superuser %}
        <button type="button" class="btn bg-gradient-primary"><a class="text-white" href="{% url 'visualizar_psicologas' %}">
            Voltar
        </a></button>
    {% else %}
        <button type="button" class="btn bg-gradient-primary"><a class="text-white" href="{% url 'index' %}">
            Voltar
        </a></button>
    {% endif %}
  </div>
</div>
    <div class="container-fluid py-4">
      <div class="col-6">
        <div>
          <h2>
            Editar Psicologo
          </h2>
        </div>
      </div>
      <section class="section dashboard">
        <div class="card">
          <div class="card-body">
            <form method="POST" action="{% url 'editar_psicologo' psicologo_id=psicologo.id %}" onsubmit="return validateForm()">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" >
                            <label for="nome" class="form-label">Nome da Psicóloga</label>
                            <input type="text" class="form-control" id="nome" name="nome" value="{{ psicologo.nome }}" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group" >
                          <label for="abordagem" class="form-label">Abordagem</label>
                          <input type="text" class="form-control" id="abordagem" name="abordagem" value="{{ psicologo.abordagem }}" required>
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" >
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email" value="{{ psicologo.email }}" required>
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" >
                      <label for="senha" class="form-label">Senha</label>
                      <input type="password" class="form-control" id="senha" name="senha" required>
                  </div>
              </div>

              <div class="col-md-6">
                <div class="form-group" >
                    <label for="Confirmpassword" class="form-label">Confirmar Senha</label>
                    <input type="password" class="form-control" id="Confirmpassword" required>
                </div>
            </div>



                    
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-4">
                                <span class="input-group-text"><i class="ni ni-palette"></i></span>
                                <input type="color" class="form-control" name="cor" value="{{ psicologo.cor }}" required>
                                <small class="form-text text-muted">Escolha uma cor de identificação</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                        </div>
                    </div>
                </div>
            </form>
             </div>
        </div><!-- End Card with titles, buttons, and links -->
      </section>
      

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block scripts %}

  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  <script>

      function validateForm() { 
          var password = document.getElementById('senha').value;
          var confirmPassword = document.getElementById('Confirmpassword').value;
          if (password !== confirmPassword) {
            alert('As senhas não coincidem.');
            return false;
          }
          return true;
        }

    var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Sales",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "#fff",
          data: [450, 200, 100, 220, 500, 100, 400, 230, 500],
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 15,
              font: {
                size: 14,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false
            },
            ticks: {
              display: false
            },
          },
        },
      },
    });


    var ctx2 = document.getElementById("chart-line").getContext("2d");

    var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
            label: "Mobile apps",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#cb0c9f",
            borderWidth: 3,
            backgroundColor: gradientStroke1,
            fill: true,
            data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
            maxBarThickness: 6

          },
          {
            label: "Websites",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#575f9a",
            borderWidth: 3,
            backgroundColor: gradientStroke2,
            fill: true,
            data: [30, 90, 40, 140, 290, 290, 340, 230, 400],
            maxBarThickness: 6
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#b2b9bf',
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#b2b9bf',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
  </script>

{% endblock scripts %}
