{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0">
                <div class="card-body text-center">
                    <h1 class="form-group">404</h1>
                    <h4 class="text-muted">Dispobilidade não encontrada</h4>
                    <h4 class="text-muted">Essa disponibilidade não foi encontrada no sistema</h4>
                    <a href="{% url 'psico_agenda' psicolologo.id %}" class="btn btn-primary">Voltar para a página da agenda da psicóloga</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}