{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <!-- Coluna do card de resumo financeiro -->
    <div class="col-md-6 my-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Resumo Financeiro</h5>
                
                <div class="mb-3">
                    <h6 class="text-muted">Valor Total dos Atendimentos</h6>
                    <p class="card-text font-weight-bold">
                        R$ {{ valor_total_atendimentos|floatformat:2 }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Coluna da receita por paciente -->
    <div class="col-md-6 my-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Receita por Paciente</h5>
                <ul class="list-group">
                    {% if receita_por_paciente %}
                        {% for paciente in receita_por_paciente %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ paciente.paciente__nome }}
                            <span class="badge badge-primary badge-pill">R$ {{ paciente.receita_bruta|floatformat:2 }}</span>
                        </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">
                            Nenhuma receita encontrada para o período selecionado.
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card-header pb-0">
            <h6>Registros Financeiros</h6>
        </div>
        <div class="card mb-4">
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nome do Cliente</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Plano</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Valor Consulta ( R$ )</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Semana do Mês</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Desfecho</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for financeiro in financeiros %}
                            <tr>
                                <td class="align-middle text-center">
                                    <div class="d-flex px-2 py-1 border-primary justify-content-center">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm text-center">{{ financeiro.paciente.nome }}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-center">
                                    <h6 class="mb-0 text-sm text-center">{{ financeiro.paciente.periodo }}</h6>
                                </td>
                                <td class="align-middle text-center">
                                    <h6 class="mb-0 text-sm text-center">{{ financeiro.paciente.valor }}</h6>
                                </td>
                                <td class="align-middle text-center">
                                    <h6 class="mb-0 text-sm text-center">Semana {{ financeiro.semana }}</h6>
                                </td>
                                <td class="align-middle text-center">
                                    <h6 class="mb-0 text-sm text-center">{{ financeiro.presenca }}</h6>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="8" class="text-center">
                                    <p class="text-secondary font-weight-bold text-xs">Nenhum dado financeiro registrado.</p>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}