{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid py-4">
      <!-- Seção de boas-vindas ao usuário -->
      <div class="row">
        <div class="col-12">
          <h2> Olá {{ user.username }} </h2>
        </div>
      </div>

      <!-- Seção de cards, responsiva para dispositivos diferentes -->
      <div class="row g-4 my-4">
        <!-- Card 1 -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card card-background card-background-mask-primary move-on-hover align-items-start h-100">
            <div class="cursor-pointer">
              <div class="full-background" style="background-image: url('{% static "img/curved-images/curved3.jpg" %}'); background-size: cover; background-position: center;"></div>
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="text-white mb-3">Agenda</h5>
                <div class="mt-auto">
                  <a href="{% url 'psico_agenda' psicologo.id %}" class="btn btn-outline-white text-white p-2 mb-0">Acessar</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card card-background card-background-mask-primary move-on-hover align-items-start h-100">
            <div class="cursor-pointer">
              <div class="full-background" style="background-image: url('{% static "img/curved-images/curved6.jpg" %}'); background-size: cover; background-position: center;"></div>
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="text-white mb-3">Confirmação</h5>
                <div class="mt-auto">
                  <a href="{% url 'confirma_consulta' psicologo.id %}" class="btn btn-outline-white text-white p-2 mb-0">Acessar</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card card-background card-background-mask-primary move-on-hover align-items-start h-100">
            <div class="cursor-pointer">
              <div class="full-background" style="background-image: url('{% static "img/curved-images/curved7.jpg" %}'); background-size: cover; background-position: center;"></div>
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="text-white mb-3">Disponibilidade</h5>
                <div class="mt-auto">
                  <a href="{% url 'psico_disponibilidade' psicologo.id %}" class="btn btn-outline-white text-white p-2 mb-0">Acessar</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Adicione mais cards aqui, se necessário -->
      </div>
      <div class="row g-4 my-4">
        <!-- Card 1 -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card card-background card-background-mask-primary move-on-hover align-items-start h-100">
            <div class="cursor-pointer">
              <div class="full-background" style="background-image: url('{% static "img/curved-images/curved3.jpg" %}'); background-size: cover; background-position: center;"></div>
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="text-white mb-3">Disponibilidade Extra</h5>
                <div class="mt-auto">
                  <a href="{% url 'psico_disponibilidade_online' psicologo.id %}" class="btn btn-outline-white text-white p-2 mb-0">Acessar</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card card-background card-background-mask-primary move-on-hover align-items-start h-100">
            <div class="cursor-pointer">
              <div class="full-background" style="background-image: url('{% static "img/curved-images/curved6.jpg" %}'); background-size: cover; background-position: center;"></div>
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="text-white mb-3">Agenda Extra</h5>
                <div class="mt-auto">
                  <a href="{% url 'psico_agenda_online' psicologo.id %}" class="btn btn-outline-white text-white p-2 mb-0">Acessar</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card card-background card-background-mask-primary move-on-hover align-items-start h-100">
            <div class="cursor-pointer">
              <div class="full-background" style="background-image: url('{% static "img/curved-images/curved7.jpg" %}'); background-size: cover; background-position: center;"></div>
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="text-white mb-3">Edição</h5>
                <div class="mt-auto">
                  <a href="{% url 'editar_psicologo' psicologo.id %}" class="btn btn-outline-white text-white p-2 mb-0">Acessar</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Adicione mais cards aqui, se necessário -->
      </div>

      <div class="row g-4 my-4">
        <!-- Card 1 -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card card-background card-background-mask-primary move-on-hover align-items-start h-100">
            <div class="cursor-pointer">
              <div class="full-background" style="background-image: url('{% static "img/curved-images/curved7.jpg" %}'); background-size: cover; background-position: center;"></div>
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="text-white mb-3">Perfil</h5>
                <div class="mt-auto">
                  <a href="{% url 'perfil_usuario' %}" class="btn btn-outline-white text-white p-2 mb-0">Acessar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Adicione mais cards aqui, se necessário -->
      </div>
    </div>
{% endblock content %}
