{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-12">
        <button type="button" class="btn bg-gradient-primary"><a class="text-white" href="{% url 'index' %}">
            Voltar
        </a></button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Criação de Pacientes</h6>
            </div>
            <div class="card-body p-4">
                <form method="POST" action="{% url 'pacientes' %}">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nome_paciente">Nome</label>
                                <input type="text" class="form-control" id="nome_paciente" name="nome_paciente" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="idade_paciente">Idade</label>
                                <select class="form-control" id="idade_paciente" name="idade_paciente" required>
                                    <option value="Adulto">Adulto</option>
                                    <option value="Criança">Criança</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="valor">Valor ( R$ )</label>
                                <input type="number" class="form-control" id="valor" name="valor" required>      
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="telefone_paciente">Telefone</label>
                                <input type="number" class="form-control" id="telefone_paciente" name="telefone_paciente" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="periodo_paciente">Período de atendimento</label>
                                <select class="form-control" id="periodo_paciente" name="periodo_paciente">
                                  <option value="Semanal">Semanal</option>
                                  <option value="Quinzenal">Quinzenal</option>
                                  <!-- <option value="nao_fixo">Sem horário fixo</option> -->
                                </select>
                              </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nome_responsavel">Nome Responsável</label>
                                <input type="text" class="form-control" id="nome_responsavel" name="nome_responsavel">
                            </div>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-center gap-4 align-middle">
                                <button type="submit" class="btn btn-primary">Registrar</button>
                                <button type="reset" class="btn btn-secondary">Resetar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Pacientes Cadastrados</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nome</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Idade</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Valor ( R$ )</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Período de Atendimento</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nome Resposnável</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Telefone</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for paciente in pacientes %}
                            <tr>
                                <td class="align-middle text-center">{{ paciente.nome }}</td>
                                <td class="align-middle text-center">{{ paciente.idade }}</td>
                                <td class="align-middle text-center">{{ paciente.valor }}</td>
                                <td class="align-middle text-center">{{ paciente.periodo }}</td>
                                <td class="align-middle text-center">{{ paciente.nome_responsavel }}</td>
                                <td class="align-middle text-center">{{ paciente.telefone }}</td>
                                <td class="align-middle">
                                    <a href="{% url 'update_paciente' id_paciente=paciente.id %}" class="text-secondary font-weight-bold text-xs text-center" data-toggle="tooltip" data-original-title="Edit consulta">Editar</a>
                                    <a href="{% url 'delete_paciente' id_paciente=paciente.id %}" class="text-secondary font-weight-bold text-xs text-center" data-toggle="tooltip" data-original-title="Delete consulta">Remover</a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="7" class="text-center">
                                    <p class="text-secondary font-weight-bold text-xs">Nenhuma consulta encontrada.</p>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Pacientes Deletados</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nome</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Idade</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Valor ( R$ )</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Período de Atendimento</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nome Resposnável</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Telefone</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Restaurar</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for paciente in pacientes_deletados %}
                            <tr>
                                <td class="align-middle text-center">{{ paciente.nome }}</td>
                                <td class="align-middle text-center">{{ paciente.idade }}</td>
                                <td class="align-middle text-center">{{ paciente.valor }}</td>
                                <td class="align-middle text-center">{{ paciente.periodo }}</td>
                                <td class="align-middle text-center">{{ paciente.nome_responsavel }}</td>
                                <td class="align-middle text-center">{{ paciente.telefone }}</td>
                                <td class="align-middle">
                                    <a href="{% url 'restaurar_paciente' id_paciente=paciente.id %}" class="text-secondary font-weight-bold text-xs text-center" data-toggle="tooltip" data-original-title="Restaurar consulta">Restaurar</a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="7" class="text-center">
                                    <p class="text-secondary font-weight-bold text-xs">Nenhuma consulta encontrada.</p>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
