{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                      <h6>Cadastrar Usuário</h6>
                    </div>
                    <div class="card-body p-4">
                      <form method="POST" action="{% url 'users' %}">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="username">Nome</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label for="email"> E-mail</label>
                                  <input type="email"class="form-control" id="email" name="email" required>
                              </div>
                          </div>
                        </div>

                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cargo">Cargo</label>
                                    <select class="form-control" id="cargo" name="cargo">
                                      <option value="administrador">Administrador</option>
                                      <option value="secretaria">Secretária</option>
                                      <option value="psicologa">Psicóloga</option>
                                    </select>
                                  </div>
                            </div>
                            
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="password">Senha</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                              </div>
                            </div>
                            
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="Confirmpassword">Confirmar senha</label>
                              <input type="password" class="form-control" id="Confirmpassword" required>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="d-flex justify-content-center gap-4 align-middle">
                                <button type="submit" class="btn btn-primary">Registrar</button>
                                <button type="reset" class="btn btn-secondary">Resetar</button>
                            </div>
                        </div>
                      </div> 
                      </form>
                    </div>
                  </div>

            </div>

        </div>
        <div class="row">
            <div class="col-12">

                <div class="card mb-4">
                    <div class="card-header pb-0">
                      <h6>Usuários cadastrados</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                      <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                          <thead>
                            <tr>
                              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Usuário</th>
                              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">Email</th>
                              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cargo</th>
                              <th class="text-secondary opacity-7">Ações</th>
                            </tr>
                          </thead>
                          <tbody>
                           {% for user in users %}
                            <tr>
                              <td class="align-middle">
                                <div class="d-flex px-2 py-1 border-primary justify-content-center">
                                  <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm text-center">{{user.username}}</h6>
                                  </div>
                                </div>
                              </td>
                              <td class="align-middle text-center">
                                <p class="text-xs font-weight-bold mb-0 ">{{user.email}}</p>
                              </td>
                              
                              <td class="align-middle text-center text-sm">
                                    {% if user.groups.all %}
                                    {% for group in user.groups.all %}
                                    <span class="badge badge-sm bg-gradient-success">{{ group.name }}</span>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                {% else %}
                                <span class="badge badge-sm bg-gradient-success">Nenhum grupo</span>
                                {% endif %}
                              </td>
                              <td class="align-middle">
                                <a href="{% url 'update_user' user_id=user.id %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                  Editar
                                </a>
                                <a href="{% url 'delete_user' user_id=user.id %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                    Remover
                                </a>
                              </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td>
                                    <p class="text-secondary font-weight-bold text-xs">
                                        Nenhum usuário encontrado.
                                    </p>
                                </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

            </div>

        </div>

{% endblock content %}

{% block scripts %}

<script>

function validateForm() {
      var password = document.getElementById('password').value;
      var confirmPassword = document.getElementById('Confirmpassword').value;
      if (password !== confirmPassword) {
        alert('As senhas não coincidem.');
        return false;
      }
      return true;
    }

</script>

{% endblock scripts %}