{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-12">
        <button type="button" class="btn bg-gradient-primary"><a class="text-white" href="{% url 'index' %}">
            Voltar
        </a></button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Filtragem de Consultas</h6>
            </div>
            <div class="card-body p-4">
                <form method="POST" action="{% url 'agenda_central' %}">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="paciente_id">Psicóloga</label>
                                <select class="form-control" id="paciente_id" name="psicologa_id">
                                    <option value="todos">Todos</option>
                                    {% for psicologa in psicologas %}
                                    <option value="{{psicologa.id}}">{{psicologa.nome}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="paciente_id">Unidade</label>
                                <select class="form-control" id="paciente_id" name="paciente_id">
                                    <option value="todos">Todos</option>
                                    {% for unidade in unidades %}
                                    <option value="{{unidade.id_unidade}}">{{unidade.nome_unidade}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="paciente_id">Especialização</label>
                                <select class="form-control" id="especialidade_id" name="especialidade_id">
                                    <option value="todos">Todos</option>
                                    {% for especialidade in especialidades %}
                                    <option value="{{especialidade.id}}">{{especialidade.especialidade}}</option>
                                    {% endfor %}
                                    
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="horario_inicio">Horário Início</label>
                                <input type="time" class="form-control" id="horario_inicio" name="horario_inicio">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="horario_fim">Horário Fim</label>
                                <input type="time" class="form-control" id="horario_fim" name="horario_fim">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dia_semana">Dia da Semana</label>
                                <select class="form-control" id="dia_semana" name="dia_semana">
                                    <option value="todos">Todos</option>
                                    {% for dia in dias_da_semana %}
                                    <option value="{{ dia }}">{{ dia }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dia_semana">Público</label>
                                <select class="form-control" id="dia_semana" name="publico">
                                    <option value="todos">Todos</option>
                                    {% for publico in publicos %}
                                    <option value="{{ publico.id }}">{{ publico.publico }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-center gap-4 align-middle">
                                <button type="submit" class="btn btn-primary">Filtrar</button>
                                <button type="reset" class="btn btn-secondary">Resetar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<h2> Presencial </h2>
{% for sala in salas %}
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Agendas da Sala <span class="font-weight-bold" style="color: {{ sala.cor_sala }}; font-weight: 900;"> {{ sala.numero_sala }}</span></h6>
            </div>
            <div class="card-body px-4 pt-0 pb-2" style="overflow-x: auto; white-space: nowrap;">
                <div class="d-inline-flex">
                    {% for dia in dias_da_semana %}
                    <div class="mb-4 col" style="min-width: 250px;"> <!-- Definindo uma largura mínima para cada dia -->
                        <p>{{ dia }} Feira</p>
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Horário</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Semanal</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Quinzenal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for consulta in consultas %}
                                    {% if consulta.sala == sala and consulta.dia_semana == dia %}
                                        {% if consulta.psicologo %}
                                            <tr style="background-color: {{ consulta.psicologo.cor }};">
                                                <td class="align-middle text-center text-white">{{ consulta.horario }}</td>
                                                {% if consulta.semanal %}
                                                <td class="align-middle text-center text-white">{{ consulta.semanal }}</td>
                                                {% else %}
                                                <td style="background-color: gray;" class="align-middle text-center text-white"></td>
                                                {% endif %}
                                                {% if consulta.quinzenal %}
                                                <td class="align-middle text-center text-white">{{ consulta.quinzenal }}</td>
                                                {% else %}
                                            <td style="background-color: gray;" class="align-middle text-center text-white"></td>
                                        {% endif %}
                                        {% else %}
                                            <tr style="background-color: gray;">
                                                <td class="align-middle text-center text-white">{{ consulta.horario }}</td>
                                                {% if consulta.semanal %}
                                                <td class="align-middle text-center">{{ consulta.semanal }}</td>
                                                {% else %}
                                                <td class="align-middle text-center"></td>
                                                {% endif %}
                                                {% if consulta.quinzenal %}
                                                <td class="align-middle text-center">{{ consulta.quinzenal }}</td>
                                                {% else %}
                                                <td class="align-middle text-center"></td>
                                                {% endif %}
                                        {% endif %}
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>            
        </div>
    </div>
</div>
{% endfor %}

<h2> Online </h2>
{% for psicologa in psicologas_online %}
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Agendas Online da Psicóloga <span class="font-weight-bold" style="color: {{ psicologa.cor }}; font-weight: 900;"> {{ psicologa.nome }}</span></h6>
            </div>
            <div class="card-body px-4 pt-0 pb-2" style="overflow-x: auto; white-space: nowrap;">
                <div class="d-inline-flex">
                    {% for dia in dias_da_semana %}
                    <div class="mb-4 col" style="min-width: 250px;"> <!-- Definindo uma largura mínima para cada dia -->
                        <p>{{ dia }} Feira</p>
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Horário</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Semanal</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Quinzenal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for consulta in consultas_online %}
                                    {% if consulta.psicologo == psicologa and consulta.dia_semana == dia %}
                                            <tr style="background-color: {{ consulta.psicologo.cor }};">
                                                <td class="align-middle text-center text-white">{{ consulta.horario }}</td>
                                                {% if consulta.semanal %}
                                                <td class="align-middle text-center text-white">{{ consulta.semanal }}</td>
                                                {% else %}
                                                <td class="align-middle text-center text-white"></td>
                                                {% endif %}
                                                {% if consulta.quinzenal %}
                                                <td class="align-middle text-center text-white">{{ consulta.quinzenal }}</td>
                                                {% else %}
                                            <td class="align-middle text-center text-white"></td>
                                        {% endif %} 
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}