{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
        <div class="row">
          <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                  <h6>Perfil</h6>
                </div>
                <div class="card-body p-4">
                  <form method="POST" action="{% url 'users' %}">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="username">Nome</label>
                            <input type="text" class="form-control" id="username" name="username" value="{{user.username}}" disabled>
                          </div>
                        </div>
                    <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="username">Email</label>
                            <input type="text" class="form-control" id="username" name="username" value="{{user.email}}" disabled>
                          </div>
                        </div>                   
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Grupo</label>
                          <div>
                            {% if user.groups.all %}
                                  {% for group in user.groups.all %}
                                  <span class="badge badge-sm bg-gradient-success">{{ group.name }}</span>{% if not forloop.last %}, {% endif %}
                                  {% endfor %}
                              {% else %}
                              <span class="badge badge-sm bg-gradient-success">Nenhum grupo</span>
                            {% endif %}
                          </div>        
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="d-flex gap-4 align-middle">
                            <a href="{% url 'editar_perfil' user_id=user.id %}">
                               Editar
                            </a>
                        </div>
                    </div>
                  </div> 
                  </form>
                </div>
            </div>
          </div>
        </div>
{% endblock content %}