{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}


    <div class="container-fluid py-4">
      <div class="col-6">
        <div>
          <h2>
            Cadastrar Psicólogas
          </h2>
        </div>
      </div>
    </div>
    <div class="card m-4">
      <div class="card-body p-4">
        <form method="POST" action="{% url 'psicologa' %}">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
              </div>
            </div>  
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                  <label for="email">E-mail</label>
                  <input type="email"class="form-control" id="email" name="email" required>
              </div>
          </div>  
          <div class="col-md-6">
            <div class="form-group">
                <div class="input-group mb-4">
                    <span class="input-group-text"><i class="ni ni-palette"></i></span>
                    <input type="color" class="form-control" name="cor" required>
                    <small class="form-text text-muted">Escolha uma cor de identificação</small>
                </div>
              </div>
            </div>     
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="abordagem">Abordagem</label>
                <input type="text" class="form-control" id="abordagem" name="abordagem" required>
              </div>
            </div>  
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="senha">Senha</label>
              <input type="password" class="form-control" id="senha" name="senha" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="Confirmpassword">Confirmar senha</label>
                <input type="password" class="form-control" id="Confirmpassword" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Cadastrar Psicóloga</button>
                <button type="reset" class="btn btn-secondary">Resetar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div> 
    <div class="card">
      <div class="table-responsive">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th class="text-secondary text-xxs font-weight-bolder opacity-7">Nome</th>
              <th class="text-secondary text-xxs font-weight-bolder opacity-7">Cor</th>
              <th class="text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
              <th class="text-secondary text-xxs font-weight-bolder opacity-7">Especialidade</th>
              <th class="text-secondary text-xxs font-weight-bolder opacity-7">Público</th>
              <th class="text-secondary text-xxs font-weight-bolder opacity-7">Unidade</th>
              <th class="text-secondary text-xxs font-weight-bolder opacity-7">Abordagem</th>
              <th class="text-secondary text-xxs font-weight-bolder opacity-7">Agenda</th>
              <th class="text-secondary text-xxs font-weight-bolder opacity-7">Confirmação</th>
              <th class="text-secondary text-xxs font-weight-bolder opacity-7">Disponibilidade</th>
              <th class="text-secondary text-xxs font-weight-bolder opacity-7">Dispobilidade Online</th>
              <th class="text-secondary text-xxs font-weight-bolder opacity-7">Agenda Online</th>
              <th class="text-secondary text-xxs font-weight-bolder opacity-7">Edição</th>
              <th class="text-secondary text-xxs opacity-7">Excluir</th>
            </tr>
          </thead>
          <tbody>{% for psicologo in psicologos %}
            <tr>
              <td>
                <div class="d-flex px-2 py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-xs">{{psicologo.nome}}</h6>
                  </div>
                </div>
              </td>
              <td>
                <span style="display: inline-block; width: 12px; height: 12px; background-color: {{psicologo.cor}}; border-radius: 50%;"></span>
              </td>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-xs">{{psicologo.email}}</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex px-2 py-1">
                    
                    <div class="d-flex flex-column justify-content-center">
                      <a href="{% url 'psicoEspecialidades' psicologo_id=psicologo.id %}" class="mb-0 text-xs">Especialização</>
                      
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex px-2 py-1">
                    
                    <div class="d-flex flex-column justify-content-center">
                      <a href="{% url 'psicoPublicos' psicologo_id=psicologo.id %}" class="mb-0 text-xs">Público</>
                      
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex px-2 py-1">
                    
                    <div class="d-flex flex-column justify-content-center">
                      <a href="{% url 'psicoUnidades' psicologo_id=psicologo.id %}" class="mb-0 text-xs">Unidade</>
                      
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex px-2 py-1">
                    
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-xs">{{psicologo.abordagem}}</h6>
                      
                    </div>
                  </div>
                </td>
              <td>
                  <span>
                    <a href="{% url 'psico_agenda' psicologo.id %}" class="btn btn-primary">
                      <i class="bi bi-book"></i>
                    </a>
              </span>
              </td>
                
                  <td>
                    <span>
                      <a href="{% url 'confirma_consulta' psicologo_id=psicologo.id %}" class="btn btn-primary">
                        <i class="bi bi-check-circle"></i>
                        
                      </a>
                </span>
              </td> 

              <td>
                <span>
                  <a href="{% url 'psico_disponibilidade' psicologo_id=psicologo.id %}" class="btn btn-primary">
                    <i class="bi bi-check-circle"></i>
                    
                  </a>
            </span>
          </td> 

              <td>
                <span>
                  <a href="{% url 'psico_disponibilidade_online' psicologo_id=psicologo.id %}" class="btn btn-primary">
                    <i class="bi bi-check-circle"></i>
                    
                  </a>
            </span>
          </td> 
          <td>
            <span>
              <a href="{% url 'psico_agenda_online' psicologo.id %}" class="btn btn-primary">
                <i class="bi bi-book"></i>
              </a>
        </span>
        </td>
              <td>
                <span>
                  <a href="{% url 'editar_psicologo' psicologo.id %}" class="btn btn-warning">
                    <i class="bi bi-pencil-fill"></i>
                  </a>
            </span>
          </td> 
          
          <td>
            <span>
              <a href="{% url 'deletar_psicologo' psicologo.id %}" class="btn btn-danger">
                <i class="bi bi-trash-fill"></i>
              </a>
        </span>
      </td>

            </tr>{%endfor%}           
          </tbody>
        </table>
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block scripts %}

<script>

  function validateForm() {
        var password = document.getElementById('senha').value;
        var confirmPassword = document.getElementById('Confirmpassword').value;
        if (password !== confirmPassword) {
          alert('As senhas não coincidem.');
          return false;
        }
        return true;
      }
  
  </script>

{% endblock scripts %}
