{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Cadastrar Sala</h6>
            </div>
            <div class="card-body p-4">
              <form method="POST" action="{% url 'salas' %}">
                {% csrf_token %}

                <div class="column">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cor_sala">Cor da sala</label>
                                <input type="text" class="form-control" id="cor_sala" name="cor_sala" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="numero_sala"> Número da sala</label>
                                <input type="text"class="form-control" id="numero_sala" name="numero_sala" required>
                        </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="codigo_sala">Código da Sala</label>
                                <input type="text" class="form-control text-start" id="codigo_sala" name="codigo_sala" required>
                            </div>
                            </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="id_unidade">ID da unidade</label>
                                <input type="text" class="form-control text-end" id="id_unidade" name="id_unidade" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cargo">Cargo</label>
                            <select class="form-control" id="cargo" name="cargo">
                              <option value="administrador">Administrador</option>
                              <option value="secretaria">Secretária</option>
                              <option value="psicologa">Psicóloga</option>
                            </select>
                          </div>
                    </div>
                    
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="password">Senha</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                      </div>
                    </div>

                    
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="Confirmpassword">Confirmar senha</label>
                      <input type="password" class="form-control" id="Confirmpassword" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="d-flex justify-content-center gap-4 align-middle">
                        <button type="submit" class="btn btn-primary">Registrar</button>
                        <button type="reset" class="btn btn-secondary">Resetar</button>
                    </div>
                </div>
              </div> 
              </form>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-12">

        <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Salas cadastrados</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cor</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">Número</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Código</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id da unidade</th>
                      <th class="text-secondary opacity-7">Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                   {% for sala in salas %}
                    <tr>
                      <td class="align-middle">
                        <div class="d-flex px-2 py-1 border-primary justify-content-center">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm text-center">{{sala.cor_sala}}</h6>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0 ">{{sala.numero_sala}}</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0 ">{{sala.codigo_sala}}</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0 ">{{sala.id_unidade}}</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                            {% if sala.groups.all %}
                            {% for group in sala.groups.all %}
                            <span class="badge badge-sm bg-gradient-success">{{ group.name }}</span>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                        <span class="badge badge-sm bg-gradient-success">Nenhuma Sala</span>
                        {% endif %}
                      </td>
                      <td class="align-middle">
                        <a href="{% url 'update_sala' user_id=user.id %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Editar
                        </a>
                        <a href="{% url 'delete_sala' user_id=user.id %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                            Remover
                        </a>
                      </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>
                            <p class="text-secondary font-weight-bold text-xs">
                                Nenhum usuário encontrado.
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

    </div>

</div>
{% endblock content %}