{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-12">
        <button type="button" class="btn bg-gradient-primary"><a class="text-white" href="{% url 'cadastrar_salas' %}">
            Voltar
        </a></button>
    </div>
  </div>
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Horários da Sala <span class="font-weight-bold" style="color: {{ sala.cor_sala }}; font-weight: 900;"> {{ sala.numero_sala }}</span></h6>
            </div>
            <div class="card-body p-4">
                    <form method="POST" action="#">
                        {% csrf_token %}
    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="horario_inicio">Horário de Início</label>
                                    <input type="time" class="form-control" id="horario_inicio" name="horario_inicio" required>                              
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="qtd_atendimentos">Quantidade de Atendimentos</label>
                                    <input type="number" class="form-control" id="qtd_atendimentos" name="qtd_atendimentos" required>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="tempo_atendimento">Tempo de atendimento ( em minutos )</label>
                                    <input type="number" class="form-control" id="tempo_atendimento" name="tempo_atendimento" placeholder="Ex: 60" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="dia_semana">Dia da Semana</label>
                                    <select class="form-control" id="dia_semana" name="dia_semana">
                                        <option value="Segunda">Segunda</option>
                                        <option value="Terça">Terça</option>
                                        <option value="Quarta">Quarta</option>
                                        <option value="Quinta">Quinta</option>
                                        <option value="Sexta">Sexta</option>
                                        <option value="Sábado">Sábado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">                    
                            <div class="col-md-6">
                                <div class="d-flex justify-content-center gap-4 align-middle">
                                    <button type="submit" class="btn btn-primary">Registrar</button>
                                    <button type="reset" class="btn btn-secondary">Resetar</button>
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>

{% for dia, horarios in horarios_agrupados %}
    {% if horarios.exists %} <!-- Verifica se há horários cadastrados para o dia -->
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>{{ dia }}</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Horário</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Deletar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for agenda in horarios %}
                                <tr>
                                    <td class="align-middle text-center">{{ agenda.horario|time:"H:i" }}</td>
                                    <td class="align-middle text-center">
                                        <a href="{% url 'delete_horario_sala' id_sala=agenda.sala.id_sala horario_id=agenda.id %}" class="text-secondary font-weight-bold text-xs text-center " data-toggle="tooltip" data-original-title="Delete consulta">Remover</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}


{% endblock content %}
