{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0">
                <div class="card-body text-center">
                    <h1 class="form-group">Já existe uma unidade com este nome</h4>
                    <a href="{% url 'unidade_atendimento' %}" class="btn btn-primary">Voltar para a Página de Unidades</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}